/* intro style  */
body {

    font-family: 'Poppins', sans-serif;
    color: #FFFFFF
}

.intro {
    display: flex;
    justify-content: center;
}

.intro-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    margin: 40px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 14px;
}

.text {
    margin-left: 106px;
}

.button {
    background-color: #DD0000;
    color: white;
    padding: 16px 25px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 50px;

}

.banner-img {
    width: 581px;
    height: 613px;
}