/* intro style  */
body {

    font-family: 'Poppins', sans-serif;

}

.intro {
    display: flex;
    justify-content: center;
    color: #FFFFFF
}

.intro-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    margin: 40px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 14px;
}

.text {
    margin-left: 106px;
}

.button {
    background-color: #DD0000;
    color: white;
    padding: 16px 25px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 50px;

}

.banner-img {
    width: 581px;
    height: 613px;

}

/* blog section  */
.menu-blogs {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 200px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;

}

.transfer {

    height: 32px;
    width: 100px;
    border-radius: 5px;
}

.blog-title {
    font-size: 18px;
}

.menu {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;

}

.menu-link {
    display: flex;
    margin: 30px;
    flex-direction: column;
    color: #161616;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 20px;
    justify-content: center;
    width: 252px;
    height: 64px;
}

#blog {
    background-color: #DD0000;
    color: #FFFFFF;
}

.icon {
    margin-left: 20px;
}

.transfer {
    margin-bottom: 10px;
}

/* footer style  */
footer {
    background-color: #161616;
    height: 444px;
}

hr {
    width: 90%;
    margin-bottom: 50px;

}

.footer-h1 {
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    padding-top: 130px;
    font-size: 40px;
}

.footer-text {
    color: #FFFFFF;
    padding-left: 7.5%;
    text-align: center;
    font-size: 16px;
}

.footer-logo {

    color: #FFFFFF;

}

.last-logo {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

/*////////////////////
     Media queris
 ////// /////////// */

/*///////////////
    mobile device
  ///////////// */