/* intro style  */
body {

    font-family: 'Poppins', sans-serif;

}

.intro {
    display: flex;
    justify-content: center;
    color: #FFFFFF
}

.intro-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    margin: 40px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 14px;
}

.text {
    margin-left: 106px;
}

.button {
    background-color: #DD0000;
    color: white;
    padding: 16px 25px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 50px;

}

.fa-solid {
    margin-left: 10px;
    justify-items: center;
}

.banner-img {
    width: 581px;
    height: 613px;

}

/* blog section  */
.menu-blogs {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 200px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;

}

.transfer {

    height: 32px;
    width: 100px;
    border-radius: 5px;
}

.blog-title {
    font-size: 18px;
}

.menu {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;

}

.menu-link {
    display: flex;
    margin: 30px;
    flex-direction: column;
    color: #161616;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 20px;
    justify-content: center;
    width: 252px;
    height: 64px;
}

#blog {
    background-color: #DD0000;
    color: #FFFFFF;
}

.icon {
    margin-left: 20px;
}

.transfer {
    margin-bottom: 10px;
}

/* footer style  */
footer {
    background-color: #161616;
    height: 444px;
}

hr {
    width: 90%;
    margin-bottom: 50px;

}

.footer-h1 {
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    padding-top: 130px;
    font-size: 40px;
}

.footer-text {
    color: #FFFFFF;
    padding-left: 7.5%;
    text-align: center;
    font-size: 16px;
}

.footer-logo {

    color: #FFFFFF;

}

.last-logo {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

/*////////////////////
     Media queris
 ////// /////////// */


/*///////////////////
     Tablet Device 
  //////////////// */

@media only screen and (min-width: 689px) and (max-width: 991px) {
    .intro {
        width: 100%;
    }

    .intro-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #161616;
        border-radius: 20px;
        width: 790px;
        height: 900px;
    }

    .button {
        background-color: #DD0000;
        border-radius: 10px;
        color: white;
        padding: 15px 20px;
        font-size: 20px;
    }

    .menu-blogs {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .menu {
        background-color: black;
        width: 50%;
        margin-bottom: 7%;
    }

    .menu-link {
        background-color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 25px;
        margin-left: 90px;
    }

    .blogs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        width: 100%;
    }

    .blogs .thumbnail img {
        width: 380px;
        height: 224px;
    }

    footer {
        background-color: #161616;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 120px;
    }

    .last-line {
        padding: 2%;
    }

}

/*///////////////
    mobile device
  ///////////// */


@media screen and (max-width:688px) {


    .intro {
        width: 100%;


    }

    .intro-banner {
        background-color: #161616;
        display: flex;
        flex-direction: column;


        height: 1200px;


    }

    h1 {
        text-align: center;
        margin-top: 3%;

    }

    .text {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }

    .button {
        background-color: #DD0000;
        border-radius: 10px;
        color: #FFFFFF;
        padding: 15px 20px;
        font-size: 30px;

    }

    /*////////////////
     second part
          /////////// */
    .menu {
        background-color: #161616;
        width: 60%;
        display: grid;
        justify-content: center;
        height: 400px;

    }

    .menu-blogs {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-link {
        background-color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        padding: 10px 40px;
        margin-bottom: 20px;
    }

    .two-icon {
        display: flex;
        font-size: 20px;
        margin: 5%;

    }

    .blogs {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs .thumbnail img {
        width: 384px;
        height: 224px;
        border-radius: 3%;
    }

    .transfer {
        background-color: #FFFFFF;

        border-radius: 10px;

        padding: 6px 25px;
        margin-left: 5%;
        font-size: 25px;
    }

    .blog-info {
        margin-left: 5%;
        font-size: 25px;
    }



    .last-line {
        display: grid;
        justify-content: center;
    }





    #blog {
        background-color: #DD0000;
        border-radius: 10px;
        text-align: center;
        padding: 10px 40px;

    }

}